body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  background: black;
  color: white;
  padding: 15px;
  text-align: center;
}

.banner {
  background: lightblue;
  text-align: center;
  padding: 40px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  width: 200px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}